<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
<title>Add Books</title>
</head>
<body>
<% include ../partials/nav %>
<div class="container">
    <div
        class="
        col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 my-form"
    >
        <% if (errors.length > 0) { %>
        <div class="alert alert-danger alert-dismissible">
        <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
        </div>
        <% } %> 
        <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
        <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
        </div>
        <% } %>

        <h2 class="admin">Add a New Book:</h2>
        <hr/>
        <br />
        <form role="form" method="POST" action="/api/admin/addbook">
        <fieldset>
            <input type="text" name="rank" class="form-control input-lg" placeholder="Rank"/>
            <input type="text" name="title" class="form-control input-lg" placeholder="Title"/>
            <input type="text" name="author" class="form-control input-lg" placeholder="Author"/>
            <input type="text" name="description" class="form-control input-lg" placeholder="Description"/>
            <input type="text" name="book_image" class="form-control input-lg" placeholder="Book Image Link"/>
            <input type="text" name="amazon_product_url" class="form-control input-lg" placeholder="Amazon Product Link"/>
            <br />
            <hr/>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <input
                type="submit"
                class="btn btn-lg btn-success btn-block"
                value="Add"
                />
            </div>

        </fieldset>
        </form>
    </div>

</div>
<% include ../partials/scripts %>
</body>
</html>