<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
<title>Add Books</title>
</head>
<body>
<% include ../partials/nav %>
<div class="container">
    <div class="row">
    <div
        class="
        col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 my-form"
    >
        <% if (errors.length > 0) { %>
        <div class="alert alert-danger alert-dismissible">
        <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
        </div>
        <% } %> 
        <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
        <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
        </div>
        <% } %>
        <h2>Add New Books:</h2>
        <br />
        <hr class="colorgraph" />
        <br />
        <form role="form" method="POST" action="/api/admin/addbooks">
        <fieldset>
            <div class="form-group">
            <input
                type="text"
                name="name"
                id="category"
                class="form-control input-lg"
                placeholder="Add Books"
            />
            </div>
            <br />
            <hr class="colorgraph" />
            <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <input
                type="submit"
                class="btn btn-lg btn-success btn-block"
                value="Add"
                />
            </div>
            </div>
        </fieldset>
        </form>
    </div>
    </div>
</div>
<% include ../partials/scripts %>
</body>
</html>