<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Home</title>
        <% include ../partials/head %> 
    </head>
    <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
    <main role="main">
    <% include ../partials/jumbotron %> 
    <% if (errors.length > 0) { %>
        <div class ="alert alert-danger alert-dismissible"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
        </div> 
    <% } %>
    <div class="container">
    <div class="admin">
        <h1>Administrator Functions</h1>
        <hr/>
            <h3><a href="/api/admin/viewcheckedbooks">All Checked Out Books</a></h3>
            <h3><a href="/api/admin/addbook">Add a Book</a></h3>
            <h3><a href="/api/admin/deletebook">Delete a Book</a></h3>
            <hr/>
        </div>
    </div>
    </main>
</div>
<% include ../partials/footer %> 
<% include ../partials/scripts %> 
</body>
</html>