<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
    <img src="/images/book_logo.jpg" style="width:75px; height:50px;" />
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/"
        >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <% if (user) { %>
        <li class="nav-item active" style="padding-left: 15px;">
          <a class="nav-link" href="/api/books/favorites">Favorites</a>
        </li>
        <li class="nav-item active" style="padding-left: 15px;">
          <a class="nav-link" href="/api/admin/">Admin</a>
        </li>
      <% } %>
    </ul>
    <% if (!user) { %>
    <span class="myRegisterNav">
      <span style="color:white; padding-left:20px">
        <a style="color:white;" href="/api/users/register">Register</a>/<a
          style="color:white;"
          href="/api/users/login">Login</a></span>
    </span>
    <% } else { %>
      <span 
        class="myNavGreeting"> 
        <a 
          href="/api/users/profile"
        ><%= user.profile.name.toUpperCase() %> </a>
      </span>
      <span class="myNavLogout"><a href="/api/users/logout">Logout</a></span>
    <% } %> 
  </div>
</nav>