<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <% if (user) { %>
        <a class="navbar-brand" href="/api/books/favorites">Favorites</a>
        <a class="navbar-brand" href="/api/books/history">History</a>
        <a class="navbar-brand" href="/api/admin/">Admin</a>
      <% } %>
    </div>
      <form class="navbar-form navbar-right">
        <% if (!user) { %>
          <div class="form-group">
            <a href="/api/users/register" class="btn btn-success">Register</a>
          </div>
          <div class="form-group">
            <a href="/api/users/login" class="btn btn-success">Login</a>
          </div>
          <% } else { %>
          <div class="form-group">
            <a href="/api/users/profile" class="btn btn-success"><%= user.profile.name.toUpperCase() %></a>
          </div>
          <div class="form-group">
            <a href="/api/users/logout" class="btn btn-success">Logout</a>
          </div>
        <% } %>
      </form>
  </div>
</nav>