html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
}

.home-col-md-4 {
margin-bottom: 50px;
}

.card-img-top {
height: 300px;
}
.my-h1 {
padding-top: 30px;
font-size: 5em;
}
.opening-card {
border-radius: 0;
}
.my-form {
width: 50%;
margin: 100px auto 0 auto;
}
.profile-imageholder {
height: 175px;
width: 175px;
}
.admin {
  margin-left: 40px;
}
.col-md-4 {
  margin-bottom: 50px;
}
.card-img-top {
  height: 300px;
}
.my-h1 {
  padding-top: 30px;
}
.opening-card {
  border-radius: 0;
}
.img-responsive {
  height: 500px;
  width: 500px;
  align-content: center;
}
#outer {
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block;
}

/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }
