html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
text-decoration: none;
}
.home-col-md-4 {
margin-bottom: 50px;
}
.my-jumbotron {
position: relative;
background: linear-gradient(47deg, rgba(0, 0, 0, 0.8), rgba(0, 176, 0, 0.2));
background-color: #172d1c;
width: 100%;
background-size: cover;
color: #fff;
height: 18em;
}
.card-img-top {
height: 300px;
}
.my-h1 {
padding-top: 30px;
font-size: 5em;
}
.opening-card {
border-radius: 0;
}
.my-form {
width: 50%;
margin: 200px auto 0 auto;
}
.myRegisterNav {
color: white;
padding-left: 20px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.myRegisterNav a {
color: white;
text-decoration: none;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.myRegisterNav a:hover {
color: orange;
}
.myNavGreeting {
color: orange;
padding: 0 20px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.myNavGreeting a {
color: orange;
}
.myNavGreeting a:hover {
color: white;
text-decoration: none;
}
.myNavLogout {
color: white;
padding-left: 10px;
}
.myNavLogout a {
color: white;
}
.myNavLogout a:hover {
color: orange;
}
.nav-category-list {
text-decoration: none;
}
.nav-category-list:hover {
color: red;
}

.profile {
margin-top: 150px;
}
.profile-imageholder {
height: 175px;
width: 175px;
}

@media screen and (max-width: 730px) {
.my-h1 {
  padding-top: 50px;
  font-size: 3.5em;
}
}
.admin {
  margin-left: 40px;
}
.col-md-4 {
  margin-bottom: 50px;
}
.card-img-top {
  height: 300px;
}
.my-h1 {
  padding-top: 30px;
}
.opening-card {
  border-radius: 0;
}
.img-responsive {
  height: 500px;
  width: 500px;
}