<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <% include ../partials/head %> 
    </head>
    <body>
    <% include ../partials/nav %> 
    <% include ../partials/jumbotron %> 
    <div id="container" class="fluid">
    <main role="main">
    <div class="home-container">
            <% book.forEach(({rank, description, book_image, amazon_product_url}) => { %>
                <div class="col m-5 m-5" style="width: 200px;">
                    <div class="card">
                    <img
                        src="<%= book_image %>"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body" style="width: 200px;">
                        <h5 class="card-title">Rank: <%= rank %></h5>
                        <p class="card-text"><%= description %></p>
                    </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
</div>
<% include ../partials/footer %> 
<% include ../partials/scripts %> 
</body>
</html>