<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <% include ../partials/head %> 
    </head>
    <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
    <main role="main">
    <% include ../partials/jumbotron %> 
    <div class="container">
        <div class="row">
            <% book.forEach(({ rank, description, book_image, _id, status }) => { %>
                <div class="col-md-4" style="width:20rem;">
                    <div class="card">
                    <img
                        src="<%= book_image %>"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title">Rank: <%= rank %></h5>
                        <p class="card-text"><%= description %></p>
                        <% if (!status.owner) { %>
                            <a href="/api/books/single-book/<%= _id %>">More Info</a>
                        <% } %>
                    </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    </main>
</div>
<% include ../partials/footer %> 
<% include ../partials/scripts %> 
</body>
</html>