<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Single Book</title>
    <style>
      .btn-product {
        width: 100%;
      }
      .single-product {
        margin-top: 100px;
      }
      .caption {
        padding-top: 40px;
      }
      .item-count {
        border: 1px solid lightGray;
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container single-product">
      <hr style="margin-bottom:40px;" class="colorgraph single-hr" />
      <div class="row">
        <div class="col-md-6 col-xs-6 ">
          <div class="thumbnail">
            <img
              style="height:100%; width: 100%"
              src="<%=book.book_image%>"
              class="img-responsive"
            />
          </div>
          <div class="caption">
            <h3>Rank: <%=book.rank%></h3>
            <p><%=book.description%></p>
          </div>
        </div>
        </div>
      </div>
      <hr style="margin-top:40px;" class="colorgraph single-hr" />
    </div>
    <% include ../partials/scripts %>
  </body>
</html>